/.settings
/testOutput
/.classpath
/.project
*/target

/testOutput*/
/bin/
/TDMlocalRepo/
/TDMClasspathLists/
/omtd-component-args/*.project
/omtd-component-args/*.classpath
/omtd-component-args/.settings
